[submodule ".registry"]
	path = .registry
	url = https://github.com/manuelspinola/manuelspinola.r-universe.dev
	branch = HEAD
[submodule "h3sdm"]
	path = h3sdm
	url = https://github.com/ManuelSpinola/h3sdm
[submodule "paisaje"]
	path = paisaje
	url = https://github.com/ManuelSpinola/paisaje
[submodule "spDataLarge"]
	path = spDataLarge
	url = https://github.com/Nowosad/spDataLarge
	registered = false
